body{
  background-color: lightgrey;
  font-family: arial, helvectica;
}

.menu{  list-style: none;

  padding: 0;
  background: #092327;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.menu li a{
  text-decoration: none;
  color: #fff;
  padding: 20px;
  display: block;
}

.menu li{
  position: relative;
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
  background: #ef8354
  transition: all .3s;
}

.submenu{
  position: absolute;
  background: #333333;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu{
  display: block;
  padding: 15px;
  color: #fff;
  font-family: arial, helvetica;
  text-decoration: none;
}
.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
}

